// Colores
$white: #fff;
$black: #000;
$hueso: #f4f4e8;
$rosa: #ff69b4;
$turquesa: #4ee2ea;
$verde: #85f87d;

// Fuentes
$font-family: "Poppins", sans-serif;

// Breakpoints
$breakpoint-large: 992px;
$breakpoint-medium: 768px;